<div class="card border-info mb-3">
    <div class="card-header">Product Form</div>
    <div class="card-body">
        <h5 class="card-title">{{productDetail?.title}}</h5>
        <div class="card-text">
            <form [formGroup]="applyForm" (submit)="submitApplication()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="title" id="title" placeholder="Title" />
                    <label for="title">Title</label>
                </div>
                <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert alert-danger">
                    <div *ngIf="title?.errors?.['required']"><strong>Title</strong> is required.</div>
                    <div *ngIf="title?.errors?.['minlength']"><strong>Title</strong> must be at least 4
                        characters long.</div>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" formControlName="description" id="description"
                        placeholder="Description" style="resize:none;height: 250px;"></textarea>
                    <label for="description">Discription</label>
                </div>
                <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="description?.errors?.['required']"><strong>Description</strong> is required.
                    </div>
                    <div *ngIf="description?.errors?.['minlength']"><strong>Description</strong> must be at
                        least 50 characters long.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="SKU" id="SKU" placeholder="SKU" />
                    <label for="SKU">SKU</label>
                </div>
                <div *ngIf="SKU?.invalid && (SKU?.dirty || SKU?.touched)" class="alert alert-danger">
                    <div *ngIf="SKU?.errors?.['required']"><strong>SKU</strong> is required.</div>
                    <div *ngIf="SKU?.errors?.['minlength']"><strong>SKU</strong> must be at least 12 characters
                        long.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="barcode" id="barcode"
                        placeholder="Barcode" />
                    <label forf="barcode">Barcode</label>
                </div>
                <div *ngIf="barcode?.invalid && (barcode?.dirty || barcode?.touched)" class="alert alert-danger">
                    <div *ngIf="barcode?.errors?.['required']"><strong>Barcode</strong> is required.</div>
                    <div *ngIf="barcode?.errors?.['minlength']"><strong>Barcode</strong> must be at least 12
                        characters long.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="handle" id="handle" placeholder="Handle" />
                    <label for="hanlde">Handle</label>
                </div>
                <div *ngIf="handle?.invalid && (handle?.dirty || handle?.touched)" class="alert alert-danger">
                    <div *ngIf="handle?.errors?.['required']"><strong>Handle</strong> is required.</div>
                    <div *ngIf="handle?.errors?.['minlength']"><strong>Handle</strong> must be at least 4
                        characters long.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" formControlName="price" id="price" placeholder="Price" />
                    <label for="price">Price</label>
                </div>
                <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">
                    <div *ngIf="price?.errors?.['required']"><strong>Price</strong> is required.</div>
                    <div *ngIf="price?.errors?.['min']"><strong>Price</strong> must be equal or grater than 1.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" formControlName="compare_price" id="compare_price"
                        placeholder="Compare Price" />
                    <label for="compare_price">Compare Price</label>
                </div>
                <div *ngIf="compare_price?.invalid && (compare_price?.dirty || compare_price?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="compare_price?.errors?.['required']"><strong>Compare Price</strong> is required.
                    </div>
                    <div *ngIf="compare_price?.errors?.['min']"><strong>Compare Price</strong> must be equal or
                        grater than 1.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="stock" id="stock" placeholder="Stock" />
                    <label for="stock">Stock</label>
                </div>
                <div *ngIf="stock?.invalid && (stock?.dirty || stock?.touched)" class="alert alert-danger">
                    <div *ngIf="stock?.errors?.['required']"><strong>Stock</strong> is required.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="grams" id="grams" placeholder="Grams" />
                    <label for="Grams">Grams</label>
                </div>
                <div *ngIf="grams?.invalid && (grams?.dirty || grams?.touched)" class="alert alert-danger">
                    <div *ngIf="grams?.errors?.['required']"><strong>Grams</strong> is required.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="image" id="image" placeholder="img URL" />
                    <label for="image">img URL</label>
                </div>
                <div *ngIf="image?.invalid && (image?.dirty || image?.touched)" class="alert alert-danger">
                    <div *ngIf="image?.errors?.['pattern']"><strong>img URL</strong> needs to be a valid URL.
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>