<div class="row my-3">
    <div class="col-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-4">
                    <img [src]="productDetail?.image ?? '/assets/No-Image-Placeholder.svg'"
                        alt="Exterior photo of {{productDetail?.title}}" class="img-fluid rounded-start">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{productDetail?.title}}</h5>
                        <h5 class="card-text">
                            <h6>{{productDetail?.handle}}</h6>
                        </h5>
                        <p class="card-text" [innerHTML]="productDetail?.description"></p>
                        <p class="card-text"><small
                                class="text-muted"><strong>Grams:</strong>{{productDetail?.grams}}</small></p>
                        <p class="card-text"><small
                                class="text-muted"><strong>Stock:</strong>{{productDetail?.stock}}</small></p>
                        <p class="card-text"><small
                                class="text-muted"><strong>Price:</strong>{{productDetail?.price}}</small></p>
                        <p class="card-text"><small class="text-muted"><strong>Compare
                                    Price:</strong>{{productDetail?.compare_price}}</small></p>
                        <div class="text-end">
                            <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <app-form [productDetail]="productDetail$ | async" [productDetailId]="productDetailId"
            (notificationEvent)="receiveNotification($event)"></app-form>
    </div>
</div>
<app-modal></app-modal>